{% extends 'home/base_temp.html' %}

{% block content %}

<div class="contact-container">
    <p class="contact-p">
        Nous Contacter
    </p>
    <p style="width: 100%; text-align: center;" class="head-floor">M-Floor SRL</p>

    <div class="contact-row">
        <div class="contact-info">

            <div style="display: flex; flex-direction: column;">
                <div class="footer-elem" style="color: black;">
                    <i style="color: #359ccf;" class="fas fa-map-marker-alt"></i>
                    <div class="footer-info">
                        <p>Chaussée de Louvain</p>
                        <p>310/12 5004 Namur</p>
                    </div>
                </div>

                <div class="footer-elem" style="color: black;">
                    <i style="color: #359ccf;" class="fas fa-phone"></i>
                    <div class="footer-info">
                        <p>+32 484 72 60 32</p>
                    </div>
                </div>
            </div>

            <div style="display: flex; flex-direction: column;">
                <div class="footer-elem sendemail" style="color: black;" onclick="sendEmail()">
                    <i style="color: #359ccf;" class="fas fa-envelope"></i>
                    <div class="footer-info">
                        tahirajmeni@gmail.com
                    </div>
                </div>
                <div class="footer-elem" style="color: black;">
                    <i style="color: #359ccf;" class="fas fa-receipt"></i>
                    <div class="footer-info">
                        BE 0785 499 466
                    </div>
                </div>
            </div>

        </div>
        <div id="map"></div>
    </div>
</div>

{% endblock %}