{% extends 'home/base_temp.html' %}

{% load static %}
{% block content %}

<div class="equipe-container">
    
    <div class="equipe-cont-mobile">
        <div><p class="pourquoi-choisir">A Propos de Nous</p></div>
        <img class="equipeimg" src="{% static 'images/logo_without_bg.png' %}" alt="logo_without_bg"/>
        <div><p style="margin-top: 2rem; margin-bottom: 1rem; text-align: center; font-size: 1.4rem; font-weight: 500; max-width: 100%;">M-Floor, expertise passionnée au service de vos sols.</h1></div>
        <img class="equipeimg" src="{% static 'images/nous.jpg' %}" alt="nous"/>
        <div><p class="pourquoi-choisir">Pourquoi nout choisir ?</p></div>
        <div class="equipe-desc">
            <h3>Engagement envers l'Excellence</h3>
            <p>Nous croyons que la ponctualité et la dévotion sont essentielles pour fournir des résultats de haute qualité. Chaque projet est réalisé à temps, avec un accent sur la précision et le soin, garantissant que votre espace corresponde exactement à vos attentes.</p>
        </div>
        <div class="equipe-desc">
            <h3>Service Personnalisé </h3>
            <p>De l'aide à choisir les bons matériaux à des conseils d'expert sur l'entretien de vos sols, nous vous accompagnons à chaque étape. Votre vision est notre priorité absolue, et nous adaptons chaque projet à vos besoins uniques et à votre budget.</p>
        </div>
        <div class="equipe-desc">
            <h3>Garantie de Qualité</h3>
            <p>Notre travail repose sur un principe simple : si nous ne sommes pas satisfaits, nous savons que vous ne le serez pas non plus. Nous mettons notre cœur dans chaque projet, traitant vos sols et vos espaces avec le soin qu'ils méritent.</p>
        </div>
    </div>

    <div class="equipe-cont">
        <div class="equipe-col">
            <div><p class="pourquoi-choisir">A Propos de Nous</p></div>
            <img class="equipeimg" src="{% static 'images/logo_without_bg.png' %}" alt="logo_without_bg"/>
            <img class="equipeimg" src="{% static 'images/nous.jpg' %}" alt="nous"/>
        </div>
        <div class="equipe-col">
            <div><p style="margin-top: 8rem; margin-bottom: 0; text-align: center; font-size: 1.4rem; font-weight: 500;">M-Floor, expertise passionnée au service de vos sols.</h1></div>
            <div><p class="pourquoi-choisir">Pourquoi nout choisir ?</p></div>
            <div class="equipe-desc">
                <h3>Engagement envers l'Excellence</h3>
                <p>Nous croyons que la ponctualité et la dévotion sont essentielles pour fournir des résultats de haute qualité. Chaque projet est réalisé à temps, avec un accent sur la précision et le soin, garantissant que votre espace corresponde exactement à vos attentes.</p>
            </div>
            <div class="equipe-desc">
                <h3>Service Personnalisé </h3>
                <p>De l'aide à choisir les bons matériaux à des conseils d'expert sur l'entretien de vos sols, nous vous accompagnons à chaque étape. Votre vision est notre priorité absolue, et nous adaptons chaque projet à vos besoins uniques et à votre budget.</p>
            </div>
            <div class="equipe-desc">
                <h3>Garantie de Qualité</h3>
                <p>Notre travail repose sur un principe simple : si nous ne sommes pas satisfaits, nous savons que vous ne le serez pas non plus. Nous mettons notre cœur dans chaque projet, traitant vos sols et vos espaces avec le soin qu'ils méritent.</p>
            </div>
        </div>
    </div>
    
    <div><p class="equipe-phrase">Votre projet est notre fierté, et livrer la perfection est notre promesse !</p></div>
</div>

{% endblock %}